<p id="notice"><%= notice %></p>


<h6 style="text-align: center; font-size: 2em; margin-bottom: 1.5em"> Cambios que he pedido </h6>

<% @trade_requests.each do |trade_request| %>
  <% if trade_request.user_id == current_user.id %>
    <div class="box">
      <p style="text-align: center; margin-bottom: 1em; font-size: 1.2em"><%= trade_request.name %> </p>
      <p style="text-align: center; margin-bottom: 1em; font-size: 2em">
        <%= trade_request.date_start.strftime("%a %e/%-m, %k:%M ") %>
        <%= trade_request.date_end.strftime("- %k:%M ") %>
      </p>
      <p style="text-align: center">
        <%= link_to trade_request, class: "button" do %>
          Ver Ofertas
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>

<h6 style="text-align: center; font-size: 2em; margin-bottom: 1.5em" >Cambios que he ofrecido</h6>

<% @swap_offers.each do |swap_offer| %>
  <% if swap_offer.user_id == current_user.id %>
    <div class="box">
      <p style="text-align: center; margin-bottom: 1em; font-size: 1.2em"><%= swap_offer.name %> </p>
      <p style="text-align: center; margin-bottom: 1em; font-size: 2em">
        <%= swap_offer.date_start.strftime("%a %e/%-m, %k:%M ") %>
        <%= swap_offer.date_end.strftime("- %k:%M ") %>
      </p>
      <% if swap_offer.status == "aceptada" %>
        <p style="color: green; text-align: center">
          <%= swap_offer.status %>
        </p>
      <% elsif swap_offer.status == "pendiente" %>
        <p style="color: gray; text-align: center">
          <%= swap_offer.status %>
        </p>
      <% else %>
        <p style="color: red; text-align: center">
          <%= swap_offer.status %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>

