<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trade_request.name %>
</p>

<p>
  <strong>Date Start:</strong>
  <%= @trade_request.date_start %>
</p>

<p>
  <strong>Date End:</strong>
  <%= @trade_request.date_end %>
</p>

<%= link_to 'Edit', edit_trade_request_path(@trade_request) %> |
<%= link_to 'Back', trade_requests_path %>

<% @trade_request.swap_offers.each do |swap_offer| %>
    <p>
      <strong>Name:</strong>
      <%= swap_offer.name %>
    </p>

    <p>
      <strong>Date start:</strong>
      <%= swap_offer.date_start %>
    </p>

    <p>
      <strong>Date end:</strong>
      <%= swap_offer.date_end %>
    </p>
<% end %>